{% extends  'base-back.html.twig'%}
{% block title %}Orders Traited
{% endblock %}

{% block body %}
    <h1><center>Orders Traited</center></h1>

	<div class="album py-5" id="france">
		<div class="container">

			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
     
<table class="table table-dark">
  <thead>
    <tr>
     <th>orderId</th>
            <th>Account Name</th>
            <th>Adress</th>
            <th>Country</th>
            <th>ZipCode</th>
            <th>City</th>
            <th>Item Count</th>
            <th>Item Index</th>
            <th>Item Id</th>
            <th>Item Quantity</th>
            <th>Price without tax</th>
            <th>Price with tax</th>

    </tr>
  </thead>
  <tbody>
   {% for order in order %}
            <tr>
              <td>{{order.orderNumber}}</td>
<td>{{order.accountName}}</td>
<td>{{order.adresse}}</td>
<td>{{order.pays}}</td>
<td>{{order.zipcode}}</td>
<td>{{order.ville}}</td>
<td>{{order.itemcount}}</td>
<td>{{order.itemindex}}</td>
<td>{{order.itemid}}</td>
<td>{{order.itemquantity}}</td>
<td>{{order.prixhtva}}</td>
<td>{{order.prixtva}}</td>


            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
   
  </tbody>
</table>
          <button style="background-color:#40E0D0; border-color:white;"> <a href="{{ path('OrdersToCsv') }}">CSV File</a> </button>

    </div>
	 <div class="mt-5">
        {{ knp_pagination_render(order, 'pagination.html.twig') }}
    </div>
{% endblock %}
